<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weatherApp</title>
</head>
<body>
    {{>header}}
    <div class="main-content">
        <img class="mypic" src="img/mypic.jpeg" alt="auther">
    <p>This site was created by Ajay Pipaliya. It uses data from <a href="https://mapbox.com">mapbox.com </a>  and  <a href="https://weatherstack.com">weatherstack.com</a></p>
    </div>
    
    {{>footer}}

</body>
</html>