<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>

<body>
    {{>header}}
    <div class="main-content">
        <p>Use this site to get weather...</p>
        <form action="">
            <input type="text" placeholder="Enter Address Here..">
            <button>Submit</button>
        </form>
        <br>
        <div class="weather-content">
            <div class="headercity">
                <img class="icon">
                <p class="message-1"></p>
            </div>
            <p class="message-2"></p>
        </div>
        <div class="container">
            <div class="extra-info">
                <font>Real feel</font><br>
                <b class="realfeel"></b>
            </div>

            <div class="extra-info">
                <font>Humidity</font><br>
                <b class="humidity"></b>
            </div>
            <div class="extra-info">
                <font>Pressure</font><br>
                <b class="pressure"></b>
            </div>
            <div class="extra-info">
                <font>UV index</font><br>
                <b class="uvindex"></b>
            </div>
        </div>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>

</body>

</html>