<!-- Begin SessionStack code -->
{{!-- <script type="text/javascript">
!function(a,b){var c=window;c.SessionStackKey=a,c[a]=c[a]||{t:b,
q:[]};for(var d=["start","stop","identify","getSessionId","log","setOnDataCallback"],e=0;e<d.length;e++)!function(b){
c[a][b]=c[a][b]||function(){c[a].q.push([b].concat([].slice.call(arguments,0)));
}}(d[e]);var f=document.createElement("script");f.async=1,f.crossOrigin="anonymous",
f.src="https://cdn.sessionstack.com/sessionstack.js";var g=document.getElementsByTagName("script")[0];
g.parentNode.insertBefore(f,g)}("SessionStack","519822db60c1436fa48569a0bbd8377e");
</script> --}}
<!-- End SessionStack Code -->
<div class="navbar">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</div>
<h2 class="title">{{title}}</h2>

